{{!< default}}

<main id="home" class="main">

    <!-- start: .content-wrapper -->
    <div class="content-wrapper"> 
        <div class="sticky-container section np-bottom grid-container"> 
            {{> home-blocks/grid-posts}}        
        </div>  
    </div>
    <!-- end: .content-wrapper -->

</main>

    